<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/script.js}"></script>
    <title>勤怠状況確認画面</title>
</head>
<body>
<h1 class="container text-center my-3">勤怠状況</h1><br/>
<table class="table table-hover">
    <thead class="table-light">
    <tr>
        <th>日付</th>
        <th>勤務区分</th>
        <th>開始時間</th>
        <th>終了時間</th>
        <th>休憩時間</th>
        <th>労働時間</th>
        <th>メモ</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="monthDate : ${monthDates}" class="align-middle attendanceList">
        <td>
            <div th:text="${#dates.format(monthDate, 'yyyy年MM月dd日 (E)')}"
                 th:classappend="${#dates.format(monthDate, 'E') == '土' ? 'saturday' : '' +
                 #dates.format(monthDate, 'E') == '日' || #lists.contains(holidays, #dates.format(monthDate, 'yyyy-MM-dd')) ? ' holiday' : ''}">
            </div>
        </td>
        <span th:switch="${monthDate}">
            <span th:each="generalDateAttendance: ${generalDateAttendances}">
                <p th:case="${generalDateAttendance.date}">
                    <td th:switch="${generalDateAttendance.attendance}">
                            <span th:case="0">未登録</span>
                            <span th:case="1">社内業務（オンサイト）</span>
                            <span th:case="2">社内業務（オフサイト）</span>
                            <span th:case="3">顧客業務（オンサイト）</span>
                            <span th:case="4">顧客業務（オフサイト）</span>
                            <span th:case="5">休日</span>
                    </td>
                    <td th:text="${#dates.format(generalDateAttendance.workTimeStart, 'H:mm')}"></td>
                    <td th:text="${#dates.format(generalDateAttendance.workTimeFinish, 'H:mm')}"></td>
                    <td th:text="${#dates.format(generalDateAttendance.breakTime, 'H:mm')}"></td>
                    <td th:text="${#dates.format(generalDateAttendance.workTime, 'H:mm')}"></td>
                    <td th:text="${generalDateAttendance.memo}"></td>
                </p>
            </span>

            <p th:case="*">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </p>
        </span>
    </tr>
    </tbody>
</table>
<!-- 勤怠状況ステータスが1:申請中の場合のみ承認/差し戻しボタンを設置 -->
<div th:if="${monthAttendanceForm.attendanceStatus} == 1" class="d-flex justify-content-end">
    <form th:action="@{/approve/{id}/{year}/{month}(id=${monthAttendanceForm.userId},year=${monthAttendanceForm.year},
        month=${monthAttendanceForm.month})}" th:method="put" class="header-item" onSubmit="return CheckApprove()">
        <input type="submit" value="承認" class="btn btn-primary me-3">
    </form>
    <form th:action="@{/sendBack/{id}/{year}/{month}(id=${monthAttendanceForm.userId},year=${monthAttendanceForm.year},
        month=${monthAttendanceForm.month})}" th:method="put" class="header-item" onSubmit="return CheckSendBack()">
        <input type="submit" value="差し戻し" class="btn btn-danger me-3">
    </form>
</div>
<a th:href="@{/show_users(date=${yearMonth})}">
    <input type="button" value="戻る" class="btn btn-secondary btn-sm">
</a>
</body>
</html>