<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/script.js}"></script>
    <title>ホーム画面</title>
</head>
<body>
<div class="header-contents">
    <h1>勤怠管理システム</h1>

    <!-- 承認者orシステム管理者フィルターのエラーメッセージ表示 -->
    <ul>
        <div th:if="${filterErrorMessages}" th:each="filterErrorMessage : ${filterErrorMessages}">
            <li><div th:text="${filterErrorMessage}" /></li>
        </div>
    </ul>

    <div class="header">
        <div class="userInf" >
            社員番号：<span th:text="${loginUser.employeeNumber}"/><br>
            　　氏名：<span th:text="${loginUser.name}"/><br>
        </div>
        <div th:if="${session.loginUser.positionId == 2}" class="header-item">
            <a th:href="@{/show_users}" class="header-item">
                <input type="button" value="承認者用画面">
            </a>
        </div>
        <div th:if="${session.loginUser.positionId == 3}" class="header-item">
            <a th:href="@{/systemManage}" class="header-item">
                <input type="button" value="システム管理者用画面">
            </a>
        </div>
        <form th:action="@{/setting}" method="get" class="header-item">
            <button type="submit">設定画面</button>
        </form>
        <form th:action="@{/logout}" method="get" class="header-item">
            <button type="submit">ログアウト</button>
        </form>
    </div>
    <div class="judge-status" th:if="${monthAttendance.attendanceStatus == 0}">
        <form th:action="@{/newAttendance}" method="get" class="new-button">
            <input type="submit" value="新規勤怠登録">
        </form>
    </div>
</div>
<table border="5" width="80%">
    <thead>
        <tr>
            <th>日付</th>
            <th>勤務区分</th>
            <th>開始時刻</th>
            <th>終了時刻</th>
            <th>休憩時間</th>
            <th>労働時間</th>
            <th>メモ</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="attendance : ${attendances}" class="align-middle">
            <td th:text="${#dates.format(attendance.date, 'yyyy年MM月dd日')}"></td>
            <td th:switch="${attendance.attendance}">
                <span th:case="0" th:text="未登録"></span>
                <span th:case="1" th:text="社内業務（オンサイト）"></span>
                <span th:case="2" th:text="社内業務（オフサイト）"></span>
                <span th:case="3" th:text="顧客業務（オンサイト）"></span>
                <span th:case="4" th:text="顧客業務（オフサイト）"></span>
                <span th:case="5" th:text="休日"></span>
            </td>
            <td th:text="${attendance.workTimeStart}"></td>
            <td th:text="${attendance.workTimeFinish}"></td>
            <td th:text="${attendance.breakTime}"></td>
            <td th:text="${attendance.workTime}"></td>
            <td th:text="${attendance.memo}"></td>
            <div class="judge-status" th:if="${monthAttendance.attendanceStatus == 0}">
                <td><a th:href="@{/editAttendance/{id}(id=${attendance.id})}" class="editAttendance-button"><input type="submit" value="編集"></a></td>
                <td><form th:action="@{/deleteAttendance{id}(id=${attendance.id})}" th:method="put" class="deleteAttendance-button"><input type="submit" value="削除"></form></td>
            </div>
        </tr>
        </tr>
    </tbody>
</table>
    </div>
</div>
<th:block th:switch="${attendanceStatus}" class="request-button">
    <span th:case="0">
        <form th:action="@{/request}" th:method="put" class="header-item" onSubmit="return CheckRequest()">
            <input type="submit" value="申請">
        </form>
    </span>
    <span th:case="1">
        <button disabled>申請中</button>
    </span>
    <span th:case="2">
        <button disabled>承認済み</button>
    </span>
</th:block>
<!--
<div class="request-button">
    <form th:action="@{/request}" th:method="put" class="header-item">
        <input type="submit" value="申請">
    </form>
</div>
-->
</body>
</html>