<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>アカウント登録画面</title>
</head>
<body>

<div class="header-contents">
    <h2>アカウント登録</h2>
</div>

<div class="main-contents">

    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:method="put" th:action="@{/newUser}" th:object="${user}">

        <table class="table table-newUser">
            <tr><th>社員番号</th><td><input type="text" th:field="*{employeeNumber}" /><br/></td></tr>
            <!--<input name="employeeNumber" th:value="${user.employeeNumber}"  type="hidden" />-->
            <tr><th>パスワード</th><td><input type="password" th:field="*{password}" /></td></tr>
            <tr><th>パスワード(確認用)</th><td><input type="password" th:field="*{passwordConfirmation}" /></td></tr>
            <tr><th>氏名</th><td><input type="text" th:field="*{name}" /></td></tr>
            <tr><th>役職</th>
                <td>
                    <select name="position">
                        <option value="1" th:selected="${user.positionId == 1}">社員</option>
                        <option value="2" th:selected="${user.positionId == 2}">グループ長</option>
                        <option value="3" th:selected="${user.positionId == 3}">総務人事部</option>
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" value="追加" class="updateUser-button" />

    </form>

    <div class="footer-contents">
        <form th:action="@{/systemManage}">
            <input type="submit" value="戻る" class="return-button" />
        </form>
    </div>

</div>

</body>
</html>