<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/account-stop.js}"></script>
    <title>システム管理画面 </title>
</head>
<body>

<div class="header-contents">
    <h2>ユーザー管理</h2>
</div>

<div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/newUser}">
    <input class="newUser-button" type="submit" value="新規登録"/>
</form>

<p class="userList-title">ユーザ一覧</p>

<table class="table table-systemManage">
    <thead>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>役職</th>
            <th></th>
            <th>アカウント停止状況</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <span th:if="${loginUserId == user.id}" class="login-now">
                <td th:text="${user.employeeNumber} + '&nbsp&nbsp(ログイン中)'"></td>
            </span>
            <span th:if="${loginUserId != user.id}" class="login-now">
                <td th:text="${user.employeeNumber}"></td>
            </span>
            <td th:text="${user.name}"></td>
            <td th:text="${user.positionName}"></td>
            <td>
                <form th:method="get" th:action="@{/editUser/{id}(id=${user.id})}" >
                    <input type="submit" value="編集" />
                </form>
            </td>

            <td>
                <span th:if="${user.isStopped} == 0">
                    <span>実行中</span>
                    <span th:if="${loginUserId != user.id}">
                        <form class="isStopped-button" method="put" th:action="@{/accountStop/{isStoppedId}(isStoppedId=${user.isStopped})}" >
                            <input type="submit" value="停止" />
                            <input name="userId" th:value="${user.id}" type="hidden" />
                        </form>
                    </span>
                </span>

                <span th:if="${user.isStopped} == 1">
                    <span class="stop-now">停止中</span>
                    <span th:if="${loginUserId != user.id}">
                        <form class="revival-button" method="put" th:action="@{/accountStop/{isStoppedId}(isStoppedId=${user.isStopped})}" >
                            <input type="submit" value="復活" />
                            <input name="userId" th:value="${user.id}" type="hidden" />
                        </form>
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="footer-contents">
    <form th:action="@{/}">
        <input type="submit" value="戻る" class="return-button" />
    </form>
</div>

</body>
</html>